<!DOCTYPE html>
<html>
<title>Student Engament App</title>
</head>
<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">

<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="">
    
     
           *:focus {
    outline: 0 !important;
}
.b1:hover
{
  color:white;
  text-decoration:underline;
}
.a1:hover
{
  color:white;
}
.c1:hover
{
  color:white;
  text-decoration:underline;
}
.b1
{
  margin-left:65%;
  background:transparent;
  border:none;
}
.a1
{
  text-decoration:none;
  color:black
}
.col-md-4
{
  border-style:solid;
  margin-left:10px;
  margin-top:20px;
  border-color:gray;
  background-color:rgba(255,255,0,0.3);
}
.d1
{
  background-color:#ff751a;
  height:50px
}
.k2
{
  color:white;
  margin-left:3%;
  font-size:25px
}
.c1
{
   background:transparent;
  border:none;
}
    </style>
    

</head>
<body>
<div style="" class="d1">
 <label style="" class="k2">Student Engagement Application</label>
  <form style="margin-top:-3%;font-size:20px">
     

               </form>
     	 </div>

<div class="container" style="width:860px">
<h1> My Students </h1> 
   <div class="row" style=""> 
      <% for(var i=0;i<d.length;i++){%>
        <div class="col-md-4" style="">
           
                  <%if(data[i]==v){%>
                   File:<h4><%=v%></h4>
                 
              
                        </div>

                  <% } else{%> 

              <% } %>

      <% } %> 
           
          
 </div>

</body>
</html>
