<!DOCTYPE html>
<html>
<head>
<title></title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../dbase.css">
	<style type="text/css">


.l1{
  margin-top:2%;
  color:white;
  
}
.form1 {
    width: 380px;
  margin-left:30px;
    padding-left:3%;
  width:30%;
  border-radius:12px;
  color:black;
  height:50%;
}
.form-control
{
  width:230px;
  font-size:13px;
}
.b1:hover
{
  color:white;
  text-decoration:underline;

}
.b2:hover
{
  color:white;
  text-decoration:underline;

}
.blue
{
    
    font-size: 14px;
    color:white;
    border-color:#ff751a;
    background-color:#ff751a;
    border-radius:11px;
    width:250px 
}
.d1
{
  background-color:#ff751a;
  height:50px
}
.b1
{
  background:transparent;
  border:none;
  color:white;

}
.k2
{
  color:white;
  margin-left:3%;
  font-size:25px
}
.b2
{
    margin-left:75%;
  background:transparent;
  border:none;
  color:white;
}


</style>

</head>
<body style="background:url('../5.jpg');background-size:cover;background-position:0px 800px ">
<div style="" class="d1">
<label style="" class="k2">Updated Successfully</label>



<form method="get" style="margin-top:-3%;font-size:20px;width:20px;margin-left:85%">
    <button type="submit" class="b1" formaction="/tlogi" value="">Logout</button>
</form>


</body>

</html>