<!DOCTYPE html>
<html>
<title>Student Engament App</title>
</head>
<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">

<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="">
    
     
           *:focus {
    outline: 0 !important;
}
.b1:hover
{
  color:white;
  text-decoration:underline;
}
.a1:hover
{
  color:white;
  text-decoration:;
}
.b1
{
  margin-left:75%;
  background:transparent;
  border:none;
}
.a1
{
  text-decoration:none;
  color:black
}
.col-md-4
{
  border-style:solid;
  margin-left:10px;
  margin-top:20px;
  border-color:gray;
  background-color:rgba(255,255,0,0.3);
}
.d1
{
  background-color:#ff751a;
  height:50px
}
.k2
{
  color:white;
  margin-left:3%;
  font-size:25px
}
.c1
{
text-decoration:none;
border:solid;
color:white;
margin-left:30%;
background-color:#ff751a;
}
    </style>
    

</head>
<body>
<div style="" class="d1">
 <label style="" class="k2"><%=stu[0]._id%></label>
  
     	 </div>

<div class="container">
            
              Name:<%=stu[0].name%><br>
              Email:<%=stu[0].email%><br>
              Phone:<%=stu[0].Phone%>         
              <br>      
       
</div>
</body>
</html>
