 
 body {
   background:url('3.jpg') no-repeat;
   background-size:cover;
   max-height:200%;
   max-width:100%;
}
h1
{
  color:black;
  font-family:Courier;
  margin-left:2%;
}

.l1{
  margin-top:2%;
  color:black;
  
}
.form1 {
    width: 380px;
  margin-left:30px;
    padding-left:3%;
  width:30%;
  border-radius:12px;
  color:black;
  height:50%;

}
.h4 {
  font-size: 20px;
  margin-left: 5px;
  font-weight: 600;
}
.form-control
{
  width:230px;
  font-size:13px;
  border:none;
}
.blue
{
  
    font-size: 14px;
    color:white;
    border-color:#ff751a;
    background-color:#ff751a;
    border-radius:11px;
    width:250px 
}

 *:focus {
    outline: 0 !important;
}

.orange
{
  color:white;
  margin-top:4%;
  text-decoration:none;
  border-radius:15px;
  background-color:#ff751a;
  


}
